In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [85]:
exp_07 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2007')
exp_08 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2008')
exp_09 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2009')
exp_10 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2010')
exp_11 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2011')
exp_12 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2012')
exp_13 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2013')
exp_14 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2014')
exp_15 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2015')
exp_16 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2016')
exp_17 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2017')
exp_18 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2018')
exp_19 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2019')
exp_20 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2020')
exp_21 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = '2021')

ValueError: Worksheet named '2007' not found

In [72]:
exp_list = [exp_07, exp_08, exp_09, exp_10, exp_11, exp_12, exp_13, exp_14, exp_15, exp_16, exp_17, exp_18, exp_19, exp_20, exp_21]

In [77]:
exptest = exp_21 = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx')

In [78]:
exptest.sheet_names

AttributeError: 'DataFrame' object has no attribute 'sheet_names'

In [81]:
#LIST OF DATAFRAMES, NO SHEET NAME
# # referenced for loading all sheets into a list:     https://towardsdatascience.com/a-simple-trick-to-load-multiple-excel-worksheets-in-pandas-3fae4124345b
# filepath = '../data/raw_data/AGG_GDX_FY07-21.xlsx'
# f = pd.ExcelFile(filepath)
# exp_list = []

# for sheet in f.sheet_names:
#     df = f.parse(sheet)
#     exp_list.append(df)
#exp_list

In [ ]:
exp_list = []

for sheet in

In [75]:
exp_21.head()

,State,Veteran Population,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients
0,Totals,19088805,224121985,111805034,1677464,11583465,873991,8750909,1213601,88217521,6322423
1,Alabama,357520,4532007,2792683,1461,193092,$ -,19995,21607,1503169,122475
2,Alaska,67388,777283,330436,3735,53620,$ -,23751,1686,364054,22290
3,Arizona,493453,5359926,2684560,35196,276519,$ -,50156,26818,2286677,171362
4,Arkansas,195685,2732008,1396311,2170,74311,$ -,16520,11517,1231178,84471

In [24]:
#LIST OF DATAFRAMES, NO SHEET NAME
# # referenced for loading all sheets into a list:     https://towardsdatascience.com/a-simple-trick-to-load-multiple-excel-worksheets-in-pandas-3fae4124345b
# filepath = '../data/raw_data/AGG_GDX_FY07-21.xlsx'
# f = pd.ExcelFile(filepath)
# exp_list = []

# for sheet in f.sheet_names:
#     df = f.parse(sheet)
#     exp_list.append(df)
#exp_list



#DICTIONARY OF DATAFRAMES, HARD TO PARSE
##Dictionary of Dataframes, revisit if time
# exp = pd.read_excel('../data/raw_data/AGG_GDX_FY07-21.xlsx', sheet_name = ['07', '08', '09'])
# [df for df, item in exp.items() ]
# exp = {exp[df].drop(columns='Loan Guaranty#') for df, item in exp.items()}
# exp[1]  #.drop(columns='Loan Guaranty#')  #.head()
# [key.drop(columns=['Compensation & Pension']) for key,item in exp.items()]
# [item for key, item in exp.items()]
# exp.keys()